Package: me.qusic.skia
Name: skia
Version: 0.1
Description: Transparent SOCKS Redirector
Section: Tweaks
Priority: optional
Depends: mobilesubstrate, preferenceloader, me.qusic.shadowsocks
Architecture: iphoneos-arm
Author: Qusic <hi@qusic.me>
Maintainer: Qusic <hi@qusic.me>
Sponsor: Qusic <hi@qusic.me>
Tag: purpose::extension
